@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
body .main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
}
body header a img {
  height: 50px;
  margin-left: 100px;
  margin-top: 70px;
}
body #header_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #80808030;
  padding: 20px;
  margin: 20px 50px 0 50px;
}
body #header_section label h1 {
  font-size: 30px;
  color: #D3573C;
}
body #header_section label h2 {
  font-size: 20px;
  color: #901C1C;
  margin-top: 10px;
}
body #header_section label p {
  color: #525252;
  margin-top: 10px;
}
body #header_section > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
body main .photograph-header .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: #FAFAFA;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
body main #gallery .select {
  max-width: 16rem;
  margin: 20px 50px 0 50px;
}
body main #gallery .css-select,
body main #gallery .css-select *,
body main #gallery .css-select *::before,
body main #gallery .css-select *::after {
  box-sizing: border-box;
}
body main #gallery .css-select {
  position: relative;
}
body main #gallery .css-select:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 0.5rem);
  right: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 0 solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  transition: top 0.3s ease, transform 0.3s ease;
  will-change: top;
  pointer-events: none;
}
body main #gallery .css-select:focus-within:after {
  top: calc(50% - 0.25rem);
  transform: rotate(225deg);
}
body main #gallery .css-select__selected {
  display: block;
  margin: 0;
  padding: 0.75rem 2rem 0.75rem 1rem;
  width: 100%;
  font: inherit;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.2;
  border: none;
  border-radius: 0.25rem;
  background: #901C1C;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none !important;
}
body main #gallery .css-select__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  width: 100%;
  max-height: 9.75rem;
  background: #901C1C;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
  transform: translateY(1.25rem);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  overflow: auto;
  z-index: 9999;
}
body main #gallery .css-select__dropdown::-webkit-scrollbar {
  width: 0.5rem;
}
body main #gallery .css-select__dropdown::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.25rem;
}
body main #gallery .css-select__dropdown::-webkit-scrollbar-thumb {
  background: #901C1C;
  border-radius: 0.25rem;
}
body main #gallery .css-select__dropdown::-webkit-scrollbar-thumb:hover {
  background: #717171;
}
body main #gallery .css-select:focus-within .css-select__dropdown {
  transform: translateY(0.75rem);
  opacity: 1;
  visibility: visible;
}
body main #gallery .css-select__option {
  display: block;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  font: inherit;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.2;
  border: none;
  border-radius: 0.25rem;
  background: transparent;
  transition: background 0.3s ease;
  cursor: pointer;
  outline: none !important;
}
body main #gallery .css-select__option:hover, body main #gallery .css-select__option:focus {
  background: #D3573C;
}
body main #medias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 50px;
}
body main #medias article figure {
  height: 33.3333333333vw;
}
body main #medias article figure img, body main #medias article figure video {
  object-fit: cover;
  height: 22vw;
  width: 100%;
}
body main #medias article figure figcaption {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #901C1C;
  height: 10%;
}
body main #medias article figure figcaption div i {
  margin-left: 5px;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: #FFffffbb;
  overflow: auto;
  z-index: 9999;
}
#contact_modal .modal {
  border-radius: 5px;
  background-color: #D3573C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: 5% auto;
  max-width: 500px;
  overflow: hidden;
}
#contact_modal .modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact_modal .modal header h2, #contact_modal .modal header H3 {
  font-size: 35px;
  font-weight: normal;
}
#contact_modal .modal header img {
  cursor: pointer;
  width: 30px;
}
#contact_modal .modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal .modal form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
#contact_modal .modal form > div label {
  color: #312E2E;
  font-size: 25px;
  width: 100%;
}
#contact_modal .modal form > div label input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
#contact_modal .modal form > div textarea {
  width: 100%;
  height: 100px;
}
#contact_modal .modal form button {
  font-size: 20px;
  font-weight: bold;
  color: #FAFAFA;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#lightbox {
  display: none;
  background: #FAFAFA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 100px;
}
#lightbox video {
  width: 100%;
}
#lightbox button:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
  color: #901C1C;
}
#lightbox #lightbox__next,
#lightbox #lightbox__prev {
  background: url(/assets/images/chevron-right-solid.svg) center center/16px 28px no-repeat;
  width: 100px;
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 20px;
  margin-top: -14px;
  z-index: 11;
  text-indent: -3000px;
  border: none;
}
#lightbox #lightbox__next:hover,
#lightbox #lightbox__prev:hover {
  opacity: 1;
}
#lightbox #lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
#lightbox #lightbox__close {
  width: 15px;
  height: 15px;
  border: none;
  background: url(/assets/images/times-solid.svg) center center/16px 28px no-repeat;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;
}
#lightbox img {
  object-fit: cover;
  height: 80vh;
  width: 100%;
}
#lightbox p {
  color: #901C1C;
}

#block-heart {
  display: flex;
  background-color: #D3573C;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 11px;
  border-radius: 3px;
  margin-right: 20px;
}
#block-heart span {
  margin: 0 3px 0 3px;
}

/*# sourceMappingURL=photographer.css.map */
