@import 'utils/variables';
@import 'utils/fonts';

body {
    header {
        a {
            img {
                width: 25%;
                margin: 25px 0 0 35px;
            }
        }
    }

    #header_section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        header{ }

        main {
            .photograph-header {
                .contact_button {
                    font-size: 20px;
                    font-weight: bold;
                    color: $white;
                    padding: 11px;
                    width: 170px;
                    height: 70px;
                    border: none;
                    background-color: $primary-color;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        > img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    #contact_modal {
        display: none;

        .modal {
            border-radius: 5px;
            background-color: $secondary-color;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 35px;
            margin: auto;

            header {
                justify-content: space-between;
                width: 100%;

                img {
                    cursor: pointer;
                }

                h2 {
                    font-size: 64px;
                    font-weight: normal;
                    text-align: center;
                }
            }

            form {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;

                label {
                    color: #312E2E;
                    font-size: 36px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: self-start;
                    margin-bottom: 26px;
                }

                input {
                    width: 100%;
                    height: 68px;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }

#select-options {
    position: relative;
    left: 50px;
    span { font-weight: bold; }
    select {
        margin-left: 10px;
        background: $primary-color;
        border-radius: 5px;
        color: #FAFAFA;
        height: 50px;
        width: 120px;
        border: none;
        option {

        }
        optgroup {
            color: #FAFAFA;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 50px;

        article {
            width: 300px;
            figure {
                display: flex;
                align-items: center;
                flex-direction: column;
                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                }
                figcaption {
                    width: 200px;
                    text-align: right;
                    color: $primary-color;
                    p { position: absolute; }
                }
            }
        }
    }
}



