@import 'utils/variables';
@import 'utils/fonts';

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 50px;
    }

    header {
        a {
            img {
                height: 50px;
                margin-left: 100px;
                margin-top: 70px;
            }
        }
    }

    #header_section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #80808030;
        padding: 20px;
        margin: 20px 50px 0 50px;
        label {
            h1 {
                font-size: 30px;
                color: $secondary-color;
            }

            h2 {
                font-size: 20px;
                color: $primary-color;
                margin-top: 10px;
            }

            p {
                color: $tertiary-color;
                margin-top: 10px;
            }
        }
        > img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    main {
        .photograph-header {
            .contact_button {
                font-size: 20px;
                font-weight: bold;
                color: $white;
                padding: 11px;
                width: 170px;
                height: 70px;
                border: none;
                background-color: $primary-color;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        #gallery {
            .select {
                max-width: 16rem;
                margin: 20px 50px 0 50px;
            }
            .css-select,
            .css-select *,
            .css-select *::before,
            .css-select *::after {
                box-sizing: border-box;
            }

            .css-select {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: calc(50% - 0.5rem);
                    right: 0.75rem;
                    width: 0.5rem;
                    height: 0.5rem;
                    border: 0 solid #fff;
                    border-width: 0 0.125rem 0.125rem 0;
                    transform: rotate(45deg);
                    transition: top 0.3s ease, transform 0.3s ease;
                    will-change: top;
                    pointer-events: none;
                }
                &:focus-within:after {
                    top: calc(50% - 0.25rem);
                    transform: rotate(225deg);
                }
            }

            .css-select__selected {
                display: block;
                margin: 0;
                padding: 0.75rem 2rem 0.75rem 1rem;
                width: 100%;
                font: inherit;
                font-size: 1.125rem;
                color: #fff;
                line-height: 1.2;
                border: none;
                border-radius: 0.25rem;
                background: $primary-color;
                box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
                cursor: pointer;
                outline: none !important;
            }

            .css-select__dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                padding: 0.5rem;
                width: 100%;
                max-height: 9.75rem;
                background: $primary-color;
                border-radius: 0.25rem;
                box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
                transform: translateY(1.25rem);
                opacity: 0;
                visibility: hidden;
                transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
                overflow: auto;
                z-index: 9999;
            }

            .css-select__dropdown::-webkit-scrollbar {
                width: 0.5rem;
            }

            .css-select__dropdown::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 0.25rem;
            }

            .css-select__dropdown::-webkit-scrollbar-thumb {
                background: $primary-color;
                border-radius: 0.25rem;
            }

            .css-select__dropdown::-webkit-scrollbar-thumb:hover {
                background: #717171;
            }

            .css-select:focus-within .css-select__dropdown {
                transform: translateY(0.75rem);
                opacity: 1;
                visibility: visible;
            }

            .css-select__option {
                display: block;
                margin: 0;
                padding: 0.5rem;
                width: 100%;
                font: inherit;
                font-size: 1rem;
                color: #fff;
                text-align: left;
                line-height: 1.2;
                border: none;
                border-radius: 0.25rem;
                background: transparent;
                transition: background 0.3s ease;
                cursor: pointer;
                outline: none !important;
                &:hover,
                &:focus {
                    background: $secondary-color;
                }
            }
        }

        #medias {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 50px;
            padding: 50px;
            article {
                figure {
                    height: calc(100vw / 3);
                    img, video {
                        object-fit: cover;
                        height: 90%;
                        width: 100%;
                    }
                    figcaption {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        color: $primary-color;
                        height: 10%;

                        span {
                            i {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: #FFffffbb;
    .modal {
        border-radius: 5px;
        background-color: $secondary-color;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;

        header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            h2, H3 {
                font-size: 35px;
                font-weight: normal;
            }
            img {
                cursor: pointer;
                width: 30px;
            }
        }

        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;

            label {
                color: #312E2E;
                font-size: 25px;
            }

            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: self-start;
                margin-bottom: 26px;
            }

            input {
                width: 100%;
                height: 68px;
                border: none;
                border-radius: 5px;
            }

            button {
                font-size: 20px;
                font-weight: bold;
                color: $white;
                padding: 11px;
                width: 170px;
                height: 70px;
                border: none;
                background-color: $primary-color;
                border-radius: 5px;
                cursor: pointer;

            }
        }
    }
}

#lightbox {
    display: none;
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 100px;
    video {
        width: 100%;
    }
    button {
        &:hover {
            cursor: pointer;
            transition: .3s;
            opacity: .5;
            color: $primary-color;
        }
    }

    #lightbox__next,
    #lightbox__prev {
        background: url(/assets/images/chevron-right-solid.svg) center center / 16px 28px no-repeat;
        width: 100px;
        position: fixed;
        top: 50%;
        bottom: 50%;
        right: 20px;
        margin-top: -14px;
        z-index: 11;
        text-indent: -3000px;
        border: none;

        &:hover {
            opacity: 1;
        }
    }

    #lightbox__prev {
        right: auto;
        left: 0;
        transform: rotate(180deg);
    }

    #lightbox__close {
        width: 15px;
        height: 15px;
        border: none;
        background: url(/assets/images/times-solid.svg) center center / 16px 28px no-repeat;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 15;
    }

    img {
        object-fit: cover;
        height: 80vh;
        width: 100%;
    }

    p {
        color: $primary-color;
    }
}

#block-heart {
    background-color: $secondary-color;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 11px;
    border-radius: 3px;
    margin-right: 20px;
    span:first-child i {
        margin-left: 5px;
    }
    span {
        &:last-child {
            margin-left: 10px;
        }
    }
}
