@import "photographer.scss";
@import 'utils/variables';
@import 'utils/fonts';

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        img { height: 50px; margin-left: 100px; }
        h1 { color: $primary-color; margin-right: 100px; }
    }
    main {
        &:visited,&:hover, &:active { color: inherit; }
        text-decoration: none;
        section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 70px;
            margin-top: 100px;
            article {
                    figure {
                        align-items: center;
                        display: flex;
                        flex-direction: column;

                        img {
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        figcaption {
                            display: flex;
                            text-align: center;
                            flex-direction: column;
                            justify-content: center;

                            h2 {
                                color: $secondary-color;
                            }

                            h3 {
                                color: $primary-color;
                            }

                            span {
                                color: $tertiary-color;
                            }
                        }
                    }
            }
        }
    }
}




